---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #c0c0c050;
    background-image: none !important;
    color: black;
    padding: 2rem 6rem;
}
.logo {
    width: 130px;
}
.logo-margin {
    width: 130px;
    margin-left: 20px;
}

.main-content h3 {
    color:#0076b4;
}

.main-content h2 {
    margin-top: 4rem;
    color:black;
}
