---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #c0c0c050;
    background-image: none !important;
    color: black;
}
.logo {
    width: 110px;
}
.logo-margin {
    width: 110px;
    margin-left: 20px;
}

.main-content h3 {
    color:black;
}

.main-content h2 {
    color:black;
}