---
---

@import "{{ site.theme }}";

.page-header{
    background-color: #c0c0c050;
    background-image: none !important;
    color: black;
}
.logo{
    width: 150px;
}
.logo-margin{
    width: 150px;
    margin-left: 20px;
}
